body {
    font-weight: 200;
    padding: 0;
    margin: 0;
    text-rendering: optimizeLegibility;
}

nav .brand-logo {
    margin-left: 1%;
    margin-right: 5%;
}

#search {
    height: inherit;
}

#main-content {
    height: 100%;
    width: 100%;
}

@media (max-width: 992px) {
    .flex-s {
        display: flex;
        flex-direction: column;
    }
}