<!-- Modal Structure -->
<login></login>
<signup></signup>

<recover></recover>

<div class="" [ngClass]="{'navbar-fixed': onScroll}">
    <nav class="nav-inddy white">
        <div class="nav-wrapper">
            <a class="right logo-wrapper brand-logo  hide-on-med-and-down" [routerLink]="['/']">
                <img *ngIf="onScroll" class="logo" src="{{standalonLogo()}}"></img>
                <img *ngIf="!onScroll" class="logo" src="images/logo/inddy-logo-black.png"></img>
            </a>
            <a class="right logo-wrapper brand-logo  hide-on-large-only" [routerLink]="['/']">
                <img class="logo" src="images/logo/inddy-logo-black-red-alone.png"></img>
            </a>
            <span class="left icon-menu">
                <a [hidden]="!isStoreOrHome()" href="#" materialize="sideNav" [materializeParams]="[{edge: 'left', closeOnClick: true, draggable: true}]" data-activates="slide-out">
                    <i class="material-icons">menu</i>
                </a>
                <a [hidden]="isStoreOrHome()" (click)="hasLocation()">
                     <i class="material-icons">arrow_back</i>
                </a>
            </span>
            <form id="nav-search" [formGroup]="searchForm">
                <ul [style.display]="mustHideSearchForm()?'none':'inherit'" class="inline contain-search">
                    <li class="input-field">
                        <input formControlName="place" id="nav-search-location" placeholder="Where..." type="search" required>
                        <label for="search"><i class="material-icons">location_on</i></label>
                        <i (click)="clearSearchLocation()" class="material-icons">close</i>
                    </li>
                    <li class="input-field">
                        <input formControlName="searchText" (keyup)="updateData($event.target.value)" placeholder="What..." id="search" type="search" required>
                        <label for="search"><i class="material-icons">search</i></label>
                        <i (click)="clearSearchText()" class="material-icons">close</i>
                    </li>
                </ul>
            </form>
        </div>
    </nav>
</div>

<menu></menu>
<div id="main-content">
    <router-outlet></router-outlet>
</div>


<div class="fixed-action-btn">
    <div *ngIf="showAddButton()">
        <a (click)="toastIsLoggedIn('/add')" class="btn-floating btn-large waves-effect waves-light red">
            <i class="large material-icons">add</i>
        </a>
    </div>
    <div *ngIf="showSaveButton()">
        <a (click)="saveForm()" class="btn-floating btn-large waves-effect waves-light red">
            <i class="large material-icons">done</i>
        </a>
    </div>
    <div *ngIf="showEditButton()">
        <a (click)="editForm()" class="btn-floating btn-large waves-effect waves-light red">
            <i class="large material-icons">edit</i>
        </a>
    </div>
</div>