<!-- Modal Structure -->
<login></login>

<signup></signup>

<recover></recover>

<div class="navbar-fixed">
    <ul id="dropdown1" class="dropdown-content">
        <li><a materialize="leanModal" class="modal-trigger waves-effect waves-light" href="#login-modal">Login</a></li>
        <li><a materialize="leanModal" class="modal-trigger waves-effect waves-light" href="#signup-modal">Sign up</a></li>
    </ul>
    <nav class="white">
        <div class="nav-wrapper">
            <a [ngClass]="{'right': isLoggedIn()}" class="brand-logo  hide-on-med-and-down" href="/">Brand</a>
            <a [hidden]="!isLoggedIn()" class="left" href="#" materialize="sideNav" [materializeParams]="[{edge: 'left', closeOnClick: true, draggable: true}]" data-activates="slide-out">
                <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
            </a>
            <a [hidden]="isLoggedIn()" class="button-collapse dropdown-button" href="#!" data-activates="dropdown1">
                <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
            </a>
            <ul [hidden]="isLoggedIn()" class=" right hide-on-med-and-down">
                <li><a materialize="leanModal" class="modal-trigger waves-effect waves-light" href="#login-modal">Login</a></li>
                <li><a materialize="leanModal" class="modal-trigger waves-effect waves-light" href="#signup-modal">Sign up</a></li>
            </ul>
            <form>
                <div class="input-field">
                    <input placeholder="search..." id="search" type="search" required>
                    <label for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </nav>
</div>

<menu></menu>
<div id="main-content">
    <router-outlet></router-outlet>
</div>


<div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light red">
        <i class="large material-icons">add</i>
    </a>
</div>