nav a,
nav,
nav .input-field label.active i {
    color: #43434f;
}

#nav-search .input-field.hide-on-med-and-down {
    width: 35%;
}

.contain-search {
    height: 100%;
    margin-left: 20% !important;
}

#search {
    //border-left: 1px solid #dce0e0;
    // border-right: 1px solid #dce0e0;
}

#nav-search-location {
    //border-left: 1px solid #dce0e0;
}

.icon-menu {
    margin-left: 2% !important;
}

.logo-wrapper {
    margin-left: 40px
}

.home-nav-link {
    font-weight: 400;
}

@media all and (min-width: 0px) and (max-width: 600px) {
    .logo {
        height: 50px;
        margin-top: -1px;
    }
}

@media all and (min-width: 600px) and (max-width: 992px) {
    .logo {
        height: 60px;
        margin-top: -2px;
    }
}

@media (min-width: 992px) {
    .logo {
        height: 80px;
        margin-top: -5px;
    }
}

.collapsible-header {
    border: none !important;
}

.collapsible {
    border: none;
    margin: 0% 0% 0% 10%;
}

.collapsible-body {
    background-color: white;
    min-width: 200px;
    width: 350px;
}