<ul id="slide-out" class="side-nav right">
    <li>
        <div class="userView">
            <div class="background">
                <img src="images/medieval.jpg">
            </div>
            <a href="#!user"><img class="circle" src="images/user.jpg"></a>
            <a href="#!name"><span class="white-text name">John Doe</span></a>
            <a><span>{{ user | displayName }}</span></a>
            <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>

        </div>
    </li>
    <li><a class="toolbar-title"><i class="material-icons">home</i>Home</a></li>
    <li><a button [routerLink]="['/users']" class="subheader"><i class="material-icons">store</i>Your stores</a></li>
    <li>
        <a button [routerLink]="['/recover']" class="toolbar-title"> <i class="material-icons">lock_outline</i>Password forgot</a>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li>
        <a class="waves-effect" (click)="logout()"><i class="material-icons">input</i>Logout</a>
    </li>
    <span class="fill-remaining-space"></span>
</ul>