<div class="row main-row flex-s">
    <div class="map-col col s0 m0 l5">
        <store-map #map [stores]='stores' [zoom]=12 [lat]="lat" [lng]="lng" [withSearch]="true" (onSelectLocation)="onSelectLocation($event)"></store-map>
    </div>
    <div class="cards-col col s12 m12 l7 col-details">
        <h4>{{yourTitle() |uppercase}}</h4>
        <form class="" [formGroup]="addForm" (ngSubmit)="addStore();">
            <div class="row">
                <div id="details-description" class="tab-item col s12">

                    <div class="input-field col s6">
                        <i class="material-icons prefix">store</i>
                        <input materialize="characterCounter" type="text" class="validate" id="add-name-area" formControlName="name" length="20" max="20" />
                        <label for="add-name-area">Name</label>
                    </div>
                    <div class="input-field col s6">
                        <select materialize="material_select" multiple>
                        <option value="" disabled selected>Choose your activity</option>
                        <option value="1">Option 1</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        </select>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">mode_edit</i>
                        <textarea materialize="characterCounter" type='text' id="add-description-area" formControlName="description" class="materialize-textarea" length="400" max="400"></textarea>
                        <label for="add-description-area">Description</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <stores-upload #upload (onFile)="onImage($event)"></stores-upload>
            </div>
            <button type="submit" class="hide waves-effect waves-light btn left">Save</button>
        </form>
    </div>

</div>