<div class="row main-row flex-s" *ngIf="store">
    <div class="map-col col s0 m0 l5">
        <store-map [stores]='stores' [zoom]=12 [lat]="lat" [lng]="lng"></store-map>
    </div>
    <div class="cards-col col s12 m12 l7 col-details">
        <div>
            <h4>{{ store.name }}</h4>
            <div class="row">
                <!-- Change in ngFor on a array of pictures from the Store-->
                <div materialize="carousel" [materializeParams]="[{full_width: true}]" class="carousel carousel-slider center img-container" data-indicators="true">
                    <a class="carousel-item"><img src="images/office.jpg"></a>
                    <a class="carousel-item"><img src="images/store-temp.jpg"></a>
                    <a class="carousel-item"><img src="images/car.jpg"></a>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <ul materialize="tabs" class="tabs">
                        <li class="tab col s4"><a class="active" href="#details-description"> Description</a></li>
                        <li class="tab col s4"><a href="#details-avis">Avis</a></li>
                        <li class="tab col s4 disabled"><a href="#details-question">Questions</a></li>
                    </ul>
                </div>
                <div id="details-description" class="tab-item col s12">
                    <form layout="column" (submit)="saveStore()">
                        <input *ngIf="isOwner" [(ngModel)]="store.name" name="name"></input>
                        <br />
                        <label *ngIf="!isOwner">{{store.description}}</label>
                        <input *ngIf="isOwner" [(ngModel)]="store.description" name="description"></input>
                        <br />
                        <label *ngIf="!isOwner">{{store.location.name}}</label>
                        <input *ngIf="isOwner" [(ngModel)]="store.location.name" name="location"></input>
                        <br />
                        <p>Owner :
                            <div *ngIf="owner">{{owner | displayName}}</div>
                        </p>
                        <div layout="row" layout-align="left">
                            <button *ngIf="isOwner" type="submit">Save</button>
                        </div>
                    </form>
                </div>
                <div id="details-avis" class="tab-item col s12">Test 2</div>
                <div id="details-question" class="tab-item col s12">Test 3</div>
            </div>
            <a [routerLink]="['/stores']" class="waves-effect waves-light btn">Back</a>
        </div>
    </div>
</div>


<!--<div class="store-details-container" *ngIf="store">
    <div class="row">
        <div class="col s5">
            <store-map [stores]='stores' [zoom]=12 [lat]="lat" [lng]="lng"></store-map>
        </div>
        <div class="col s7">

        </div>
    </div>
</div> -->