<div class="contain-avis">
    <ul id="comment-list" class="collection">
        <li *ngFor="let comment of comments" class="collection-item avatar">
            <img src="images/user.jpg" alt="" class="circle">
            <ul class="title">
                <li class="comment-user">{{comment.user | displayUser | displayName}}</li>
                <li class="comment-date">{{comment.createdDate | date: 'dd MMM yyyy'}}</li>
                </span>
                <p>{{comment.main}}</p>
                <span class="secondary-content">
                <i *ngFor="let note of getNote(comment.note)" class="material-icons">{{note}}</i>
            </span>
        </li>
        </ul>
        <div class="comment-border">
            <form [formGroup]="addCommentForm" (ngSubmit)="postComment()">
                <ul class="col s12">
                    <li class="col s10">
                        <input formControlName="main" type="text" placeholder="Post your comment..." class="validate">
                        <rating formControlName="note" [max]="5">
                        </rating>
                    </li>
                    <li class="col s2">
                        <button class="btn waves-effect waves-light" type="submit" name="action">
                        <i class="material-icons right">send</i>
                    </button>
                    </li>
                </ul>
            </form>
        </div>
</div>