<!--<stores-form></stores-form> -->

<div class="row main-row flex-s">
    <div class="map-col col s0 m0 l5">
        <store-map [stores]='stores | async' [zoom]=5 [lat]="lat" [lng]="lng" [withSearch]="false"></store-map>
    </div>
    <div class="cards-col col s12 m12 l7">
        <div class="row form-filter-list z-depth-1">
            <!-- {{storesSize}}
            <pagination-controls class="pagination pagination-container" (pageChange)="onPageChanged($event)"></pagination-controls> -->
            <form>
                <!-- <div class="input-field col s8">
                        <input placeholder="Placeholder" id="first_name" type="text" #searchtext class="validate">
                        <label for="first_name">By Location</label>
                        <span class="btn  waves-effect waves-light" (click)="search(searchtext.value)">
                        <i class="fa fa-search"></i>
                    </span> {{searchValue}}
                    </div> -->
                <div class="input-field col s4">
                    <select materialize="material_select" #sort (change)="changeSortOrder(sort.value)">
                        <option value="" disabled selected>Choose your option</option>
                        <option value="1"> Ascending </option>
                        <option value="-1"> Descending </option>
                    </select>
                    <label>Order</label>
                </div>
            </form>
        </div>
        <div class='row scroll-result' infinite-scroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="10" [scrollWindow]="false" (scrolled)="onScrollDown()" (scrolledUp)="onScrollUp()">
            <div class="col s12 cards-container" materialize [materializeParams]="[toastIsLoggedInMessage,4000]" [materializeActions]="globalActions">
                <div *ngFor="let store of stores | async">
                    <div class="card hoverable small">
                        <div class="card-image">
                            <img *ngIf="isImages(store)" [src]="store | displayMainImage">
                            <img *ngIf="!isImages(store)" src="images/side_bar.jpg"><img>
                        </div>
                        <div class="card-content white ">
                            <span class="card-title">
                                    <a (click)="toastIsLoggedIn('/store',store._id )">{{store.name}}</a><!--[routerLink]="['/store', store._id]" -->
                                </span>
                            <p>{{store.description}}</p>
                        </div>
                        <div class="card-action">
                            @ {{store.location.name}}
                            <button class="remove-store" md-icon-button *ngIf="isOwner(store)" (click)="removeStore(store)">
                            </div>
                        </div>
                    </div>
                </div> 
                
            </div>
    </div>
</div>