<div class="stores-update-container">
    <div materialize [materializeParams]="['Maximum 3 pictures..',4000]" [materializeActions]="globalActions">
        <div>Click to add Multiple images.. or drop an image to here...</div>

        <div class="card upload-square">
            <div class="card-content white-text">
                <div fileDrop [ngClass]="{'file-is-over': fileIsOver, 'file-uploading': uploading}" (fileOver)="fileOver($event)" (onFileDrop)="onFileDrop($event)">
                    <div class="file-field-yssi">
                        <input type="file" (change)="onFileAdd($event)" multiple>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="thumbs" class="thumbs">
            <div *ngFor="let thumb of thumbs" class="thumb">
                <img [src]="thumb.url" />
                <i (click)="removeThumb(thumb)" class="close material-icons">close</i>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>