<!--<stores-form></stores-form> -->

<div class="row main-row flex-s">
    <div class="map-col col s0 m0 l5">
        <store-map *ngIf='lat' [stores]='stores' [zoom]=12 [lat]="lat" [lng]="lng" [withSearch]="false"></store-map>
    </div>
    <!--   <div class="row form-filter-list z-depth-1 white">
        
        <form [formGroup]="filterForm" class="row col s12">
                <ul class="col s4 inline group-filter">
                    <li class="">
                        <input #dateFilter class="filter-button with-gap" name="list-filter" type="radio" value="DATE" id="list-date-filter" (change)="changeSort(dateFilter.value)" checked/>
                        <label for="list-date-filter">Date</label>
                    </li>

                    <li *ngIf="showFilterOrder('DATE')" class="list-filter-asc-desc">
                        <a href="javascript:void(0)" *ngIf="hideAscOrDesc('asc')" (click)="changeOrder('asc')"><i class="filter-button material-icons">arrow_upward</i></a>
                        <a href="javascript:void(0)" *ngIf="hideAscOrDesc('desc')" (click)="changeOrder('desc')"><i class="filter-button material-icons">arrow_downward</i></a>
                    </li>

                </ul>
                <ul class="col s4 inline group-filter">
                    <li class="">
                        <input #locationFilter class="filter-button with-gap" name="list-filter" type="radio" value="LOCATION" id="list-location-filter" (change)="changeSort(locationFilter.value)" />
                        <label for="list-location-filter">Location</label>
                    </li>
                    <li *ngIf="showFilterOrder('LOCATION')" class="list-filter-asc-desc">
                        <a href="javascript:void(0)" *ngIf="hideAscOrDesc('asc')" (click)="changeOrder('asc')"><i class="filter-button material-icons">arrow_upward</i></a>
                        <a href="javascript:void(0)" *ngIf="hideAscOrDesc('desc')" (click)="changeOrder('desc')"><i class="filter-button material-icons">arrow_downward</i></a>
                    </li>
                </ul>
                <ul class="col s4 inline group-filter">
                    <li class="!">
                        <input #nameFilter class="filter-button with-gap" name="list-filter" type="radio" value="NAME" id="list-name-filter" (change)="changeSort(nameFilter.value)" />
                        <label for="list-name-filter">Name</label>
                    </li>
                    <li *ngIf="showFilterOrder('NAME')" class="list-filter-asc-desc">
                        <a href="javascript:void(0)" *ngIf="hideAscOrDesc('asc')" (click)="changeOrder('asc')"><i class="filter-button material-icons">arrow_upward</i></a>
                        <a href="javascript:void(0)" *ngIf="hideAscOrDesc('desc')" (click)="changeOrder('desc')"><i class="filter-button material-icons">arrow_downward</i></a>
                    </li>
                </ul>
            </form>
    </div>-->
    <div class='row scroll-result' infinite-scroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="10" [scrollWindow]="false" (scrolled)="onScrollDown()" (scrolledUp)="onScrollUp()">
        <div class="col s12 cards-container">
            <div class="col s12 m6 l6 " *ngFor="let store of stores ">
                <div (click)="toastIsLoggedIn('/store',store._id )" class="card hoverable small">
                    <div class="card-image">
                        <img *ngIf="isImages(store)" [src]="store | displayMainImage">
                        <img *ngIf="!isImages(store)" src="images/side_bar.jpg"><img>
                    </div>
                    <div class="card-content white ">
                        <span class="card-title">
                                <p>{{store.name}}</p>
                            </span>
                    </div>
                    <div class="card-action">
                        <ul class="inline">
                            <li class="left">@{{store.location.name | displayLocation}}</li>
                            <li class="right">{{store.createDate | date: 'dd MMM yyyy'}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>