.contain-avis {
    padding: 10px 10px 10px 10px;
}

.collection {
    border: none !important;
}

.collection .collection-item {
    border: none !important;
}

.comment-border {
    border-bottom: 1px solid #e0e0e0 !important;
}

#comment-list {
    height: 250px;
    overflow: scroll;
}

.comment-date {
    font-size: 12px;
}

.comment-user {
    font-weight: 400;
}

.comment-note {
    float: right;
    color: #f9ce75;
    margin-top: -50px;
}