<div [ngClass]="{'hide': !withSearch }" class="row seach-map">
    <div class="waves-effect waves-light input-field col s10">
        <i class="material-icons prefix">location_on</i>
        <input id="your-search-bar" type="search" class="form-control" (click)="clearSearch()" />
    </div>
</div>
<sebm-google-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [scrollwheel]="false" [zoomControl]="true" (mapClick)="mapClicked($event)">
    <div *ngFor="let store of stores">
        <sebm-google-map-marker *ngIf="store.location" [latitude]="store.location.lat" [longitude]="store.location.lng">
        </sebm-google-map-marker>
    </div>
    <sebm-google-map-marker *ngIf="isAddAndHasMarker()" [latitude]="clickLat" [longitude]="clickLng">
    </sebm-google-map-marker>
</sebm-google-map>