<div class="row main-row flex-s" *ngIf="store">
    <div class="map-col col s0 m0 l5">
        <store-map [stores]='stores' [zoom]=16 [lat]="lat" [lng]="lng" [withSearch]="false"></store-map>
    </div>
    <div class="cards-col col s12 m12 l7 col-details">
        <div>
            <h4>{{ store.name | uppercase}}</h4>
            <div class="row">
                <div class="col s12">
                    <div *ngIf="store.images && store.images.length > 0" materialize="carousel" [materializeParams]="[{full_width: true}]" class="carousel carousel-slider center img-container" data-indicators="true">
                        <a *ngFor="let img of store.images" class="carousel-item"><img [src]="img | displayImage">{{img}}</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div *ngFor="let activity of store.activities" class="chip">
                    {{activity}}
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <ul materialize="tabs" class="tabs">
                        <li class="tab detail-tab-title col s4"><a class="active" href="#details-description"> Description</a></li>
                        <li class="tab detail-tab-title col s4">
                            <a href="#details-avis">
                                Avis
                            </a>
                        </li>
                        <li class="tab detail-tab-title col s4 disabled"><a href="#details-question">Questions</a></li>
                    </ul>
                </div>
                <div id="details-description" class="tab-item col s12">
                    <p>{{store.description}}</p>
                </div>
                <div id="details-avis" class="tab-item col s12">
                    <store-comments [storeId]="storeId"></store-comments>
                </div>
                <div id="details-question" class="tab-item col s12">No questions yet../div>
                </div>
            </div>
            <div class="row location-link">@{{store.location.name}} </div>
            <div *ngIf="owner" class="row">By : {{owner | displayName}} </div>
        </div>
    </div>
</div>