<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <img class="footer-logo" src="images/logo/inddy-logo-white.png"></img>
                <p class="footer-link-sub">Localize your stores, your activities...this is your map</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="footer-link-light accent-4">Contact us</h5>
                <ul>
                    <li><a class="footer-link-light" href="#!">Facebook</a></li>
                    <li><a class="footer-link-light" href="#!">Google+</a></li>
                    <li><a class="footer-link-light" href="#!">Twitter</a></li>
                    <li><a class="footer-link-light" href="#!">Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <span class="footer-link-light">© {{date.getFullYear()}} Copyright</span>
            <a class="footer-link-light right" href="#!">Øtokton</a>
        </div>
    </div>
</footer>