<div class="row container">

    <ul class="inline">
        <form id="form-home" [formGroup]="searchForm">
            <li class="input-field col s5">
                <input formControlName="place" required placeholder="Where..." id="home-search-bar" type="search" class="search-bar form-control z-depth-5 " />
            </li>
            <li class="input-field col s5">
                <input formControlName="searchText" placeholder="What..." type="search" class="search-bar form-control z-depth-5 " />
            </li>
        </form>
        <li id="home-search-btn" class="input-field col s2">
            <button class="waves-light btn" (click)="submitSearch()"><i class="material-icons">search</i></button>
        </li>
    </ul>

</div>