<div id="login-modal" materialize="modal" [materializeActions]="modalActions" [materializeParams]="[{dismissible: true}]" class=" modal modal-fixed-footer">
    <div class="modal-content">
        <div class="container">
            <form class="modal-login-form" [formGroup]="loginForm" #f="ngForm" (ngSubmit)="login()">

                <div class="row">
                    <a class='btn btn-large btn-facebook' (click)="loginFacebook()">
                        <i class="left fa fa-facebook" aria-hidden="true"></i> Login facebook
                    </a>
                </div>
                <div class="input-field ">
                    <input formControlName="email" id="login_email" type="email"></input>
                    <label for="login_email">Email</label>
                </div>
                <div class="input-field ">
                    <input formControlName="password" id="login_password" type="password"></input>
                    <label for="login_password">Password</label>
                </div>
                <div class="row">
                    <a materialize="modal" class="modal-action modal-close waves-effect waves-green left login-a" href="#recover-modal">Forgot password?</a>
                </div>
                <div class="row">
                    <button type="submit" class="modal-action waves-effect waves-light btn btn-large">Sign In</button>
                </div>
            </form>
        </div>
    </div>
    <div [hidden]="error == ''">
        <div>
            <p>{{ error }}</p>
        </div>
    </div>
    <div class="modal-footer">
        <a materialize="modal" href="#signup-modal" class="modal-action modal-close waves-effect waves-green right login-a">Need an account?</a>
    </div>
</div>