.modal-login-form {
    margin-top: 30px;
}

@media all and (min-width: 0px) and (max-width: 600px) {
    #login-modal {
        width: 80%;
        height: 100%;
        .modal-content {
            margin-bottom: 30px;
        }
    }
}

@media all and (min-width: 600px) and (max-width: 992px) {
    #login-modal {
        width: 55%;
        height: 100%;
        .modal-content {
            margin-bottom: 30px;
        }
    }
}

@media (min-width: 992px) {
    #login-modal {
        width: 35%;
        height: 100%;
        .modal-content {
            margin-bottom: 50px;
        }
    }
}

.btn-facebook {
    border-color: #3B5998;
    background-color: #3B5998;
    color: #fff;
}

.btn-large {
    width: 100%;
}

.login-a {
    color: #43434f;
    font-weight: 400;
}