@media all and (min-width: 0px) and (max-width: 600px) {
    #recover-modal {
        width: 80%;
        height: 30%;
        .modal-content {
            margin-bottom: 10px;
        }
    }
    .btn-recover {
        height: 60px;
        width: 80px;
        font-size: 10px;
    }
}

@media all and (min-width: 600px) and (max-width: 992px) {
    #recover-modal {
        width: 55%;
        height: 30%;
        .modal-content {
            margin-bottom: 10px;
        }
    }
    .btn-recover {
        height: 60px;
        width: 80px;
        font-size: 10px;
    }
}

@media (min-width: 992px) {
    #recover-modal {
        width: 55%;
        height: 30%;
        .modal-content {
            margin-bottom: 10px;
        }
    }
    .btn-recover {
        height: 60px;
    }
}

.recover-a {
    color: #43434f;
    font-weight: 400;
}