<div id="recover-modal" materialize="modal" [materializeActions]="modalActions" [materializeParams]="[{dismissible: true}]" class=" modal modal-fixed-footer">
    <div class="modal-content recover-content">
        <div class="row">
            <ul class="inline">
                <form class="modal-login-form" [formGroup]="recoverForm" #f="ngForm" (ngSubmit)="recover()">
                    <li class="input-field col s9">
                        <input formControlName="email" id="recover_email" type="email"></input>
                        <label for="recover_email">Email</label>
                    </li>
                    <li class="col s3">
                        <button type="submit" class="modal-action waves-effect waves-light btn btn-recover">Recover</button>
                    </li>
                </form>
            </ul>
        </div>
    </div>
    <div [hidden]="error == ''">
        <div>
            <p>{{ error }}</p>
        </div>
    </div>
    <div class="modal-footer">
        <a materialize="modal" href="#login-modal" class="modal-action modal-close waves-effect waves-green right recover-a ">Remember your password?</a>
    </div>
</div>