@media all and (min-width: 0px) and (max-width: 600px) {
    #signup-modal {
        width: 80%;
        height: 100%;
        .modal-content {
            margin-bottom: 50px;
        }
    }
}

@media all and (min-width: 600px) and (max-width: 992px) {
    #signup-modal {
        width: 55%;
        height: 100%;
        .modal-content {
            margin-bottom: 50px;
        }
    }
}

@media (min-width: 992px) {
    #signup-modal {
        width: 35%;
        height: 100%;
        .modal-content {
            margin-bottom: 50px;
        }
    }
}