<div id="signup-modal" materialize="modal" [materializeActions]="modalActions" [materializeParams]="[{dismissible: true}]" class=" modal modal-fixed-footer">
    <div class="modal-content">
        <div class="container">
            <form class="modal-login-form" [formGroup]="signupForm" #f="ngForm" (ngSubmit)="signup()">

                <div class="row">
                    <a class='btn btn-large btn-facebook' (click)="signupFacebook()">
                        <i class="left fa fa-facebook" aria-hidden="true"></i> Signup facebook
                    </a>
                </div>
                <div class="input-field ">
                    <input disabled formControlName="email" id="signup_email" type="email"></input>
                    <label for="signup_email">Email</label>
                </div>
                <div class="input-field ">
                    <input disabled formControlName="password" id="signup_password" type="password"></input>
                    <label for="signup_password">Password</label>
                </div>
                <div class="input-field ">
                    <input disabled formControlName="firstName" id="signup_first_name" type="text"></input>
                    <label for="signup_first_name">First name</label>
                </div>
                <div class="input-field ">
                    <input disabled formControlName="lastName" id="signup_last_name" type="text"></input>
                    <label for="signup_last_name">Last name</label>
                </div>
                <button disabled type="submit" class="modal-action waves-effect waves-light btn btn-large">Sign Up</button>
            </form>
        </div>
    </div>
    <div [hidden]="error == ''">
        <div>
            <p>{{ error }}</p>
        </div>
    </div>
    <div class="modal-footer">
        <a materialize="modal" href="#login-modal" class="modal-action modal-close waves-effect waves-green right signup-a">Already a user?</a>
    </div>
</div>